<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, consectetur odio illum sint blanditiis laboriosam illo atque maxime ea corporis quas exercitationem minima necessitatibus doloribus nihil eos quasi esse cupiditate provident quam sequi voluptate deserunt enim! Quaerat officia corporis impedit.</p>
        
    </div>
</div>