<div class="jumbotron mt-4">
    <h1 class="display-4">Notes APP node js and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ullam culpa vel. Minima eaque sapiente placeat quae reiciendis aliquam numquam blanditiis harum hic. Ut nobis placeat laborum vero necessitatibus temporibus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta inventore hic mollitia quis itaque ipsam aut nihil magnam quod, quo iste, a distinctio sunt, impedit laboriosam doloribus porro. Aut, molestiae.</p>
    <a href="http://github.com/DanielJojoa" class="btn btn-primary btn-lg">Daniel Jojoa</a>
</div>